# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore data directory
/data
/results

# Ignore Jupyter Notebook checkpoints and related hidden files
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.nbconvert.ipynb
*.nbconvert.*
*.nb.html
*.nb.json
*.nb.log
*.nbmetadata
*.jupyter-*

# VSCode or IDE settings (optional, helpful)
.vscode/
*.code-workspace

# OS files (optional)
.DS_Store
Thumbs.db

# temp/testing files
/tmp*
/temp*

# Python Virtual Environments
venv
.venv
.envrc
.env
env
